.widgetDati{
    font-weight: bold;
    background-color: #ddd;
    padding: 1px 15px;
    margin: 2px;
}
.widgetDati:hover {
    background-color: #eee;
}
.green{
    color: green
}
.red{
    color:red
}
